<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coachlea">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoachLea">
        <activity android:name=".other_activities.Trainingset_Finished"></activity>
        <activity android:name=".other_activities.Trainingset" />
        <activity
            android:name=".other_activities.Settings"
            android:screenOrientation="portrait" />
        <activity android:name=".other_activities.SnailRaceStart" />
        <activity android:name=".other_activities.LoginInfoScreen" />
        <activity android:name=".other_activities.ProfileLogin" />
        <activity android:name=".other_activities.ProfileMain" />
        <activity android:name=".exercises.ImageRecognition" />
        <activity android:name=".other_activities.SpeakingExerciseFinished" />
        <activity android:name=".exercises.SnailRace" />
        <activity android:name=".exercises.AnimalSounds" />
        <activity android:name=".other_activities.MinimalPairsExerciseFinished" />
        <activity android:name=".exercises.MinimalPairs" />
        <activity android:name=".other_activities.ExercisesMain" />
        <activity android:name=".other_activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".tools.NotificationReceiver" />
    </application>

</manifest>